@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

.first-header {
    text-align: center;
    position: relative;
    padding-top: 20px;
    background: url("images/Layer-759_02.jpg");
    background-size: cover;
    height: 730px;
    color: #fff;
}

.first-header > nav {
    padding: 15px 0;
    margin: 0 auto;
    width: 68%;
    background-color: rgba(187, 146, 94, 0.9);
    text-align: center;

}

.first-header ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.first-header li {
    display: flex;
    padding: 10px 50px;
    font-size: 20px;
}

.first-header h1 {
    font-size: 72px;
    margin: 60px 0 20px 0;
    text-transform: uppercase;
}

.first-header h2 {
    font-weight: 500;
    width: 500px;
    margin: 0 auto;
}

.first-header button {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
    padding: 15px 20px;
    background-color: #10183A;
    color: #fff;
    border: 1px solid #10183A;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
}

.first-header button:hover, .first-header button:hover i {
    background: rgb(187, 146, 94);
    border-color: rgb(187, 146, 94);
    color: #000;
}

.first-header button i {
    color: #D0AB96;
}

.industries {
    margin-left: 100px;
    position: relative;
    padding: 0 50px 50px 50px;
    height: 400px;
}

.industries-header > h2 {
    text-align: center;
    font-size: 52px;
    margin: 50px;
}

.industries i {
    position: relative;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    top: 40px;
    left: -60px;
}

.industries h3 {
    font-size: 18px;
    padding: 5px 0 15px 0;
}

.industries article {
    display: inline-block;
    width: 400px;
    font-size: 16px;
    margin: 30px 70px 20px 90px;
}

.banner p {
    color: rgb(187, 146, 94);
    padding: 10px 5px 5px 5px;
}

.banner {
    text-align: center;
    margin-bottom: 0;
    padding-top: 35px;
    padding-bottom: 46px;
    margin-top: 40px;
    display: block;
    position: relative;
    font-size: 28px;
}

.banner::after {
    content: "";
    background-size: cover;
    opacity: 0.3;
    background: url(images/steel-bg.jpg) center center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.traders {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/background-choose-us.jpg") no-repeat center;
    background-size: cover;
    height: 370px;
}

.traders > div {
    margin-left: 18%;
    width: 80%;
}

.traders h2 {
    color: #fff;
    font-size: 42px;
    text-align: center;
    padding: 60px 0 40px 0;
}

.traders a {
    text-decoration: none;
    display: inline-block;
    width: 20%;
    height: 115px;
    border: 2px solid #DDC4AC;
    padding: 30px;
    color: #fff;
    margin: 0 10px;
    vertical-align: top;
}

.traders a:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;

}

.traders h4 {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 0 15px;
}

.traders p {
    line-height: 22px;
    text-align: justify;
    font-size: 14px;
    font-weight: normal;
}

.consulting-woman {
    position: relative;
    background: url("images/consulting-woman.jpg") center center;
    background-size: cover;
    height: 600px;
    font-size: 16px;
}

.consulting-woman > article > p::after {
    content: close-quote;
    color: #c79d63;
    font-size: 32px;
}

.consulting-woman > article > p::before {
    content: open-quote;
    color: #c79d63;
    font-size: 32px;
}

.consulting-woman article {
    position: absolute;
    top: 50px;
    right: 40px;
    width: 600px;
    background: rgba(255, 255, 255, 0.6);
    padding: 64px 60px 53px 60px;
}

.consulting-woman footer {
    background: #080820;
    padding: 15px 20px;
    margin-top: 20px;
}

.consulting-woman footer h4 {
    color: #A4A5B0;
    text-align: right;
}

.consulting-woman footer p {
    background: #080820;
    color: #fff;
    text-align: left;
    height: 260px;
    font-size: 32px;
}

.partners {
    padding: 25px;
    text-align: center;
}

.partners ul {
    list-style: none;
}

.partners ul li, .partner ul li a {
    display: inline-block;
    vertical-align: middle;
}

.footer {
    background: #080820;
    padding: 20px;
    height: 240px;
    color: #fff;
}

.info-socials-container {
    margin-left: 210px;
    display: inline-block;
}

.info-socials-container li {
    padding: 10px;
}

.info-socials-container > ul > li {
    width: 180px;
}

.info-socials-container > ul > li:last-child {
    width: 250px;
}

.info-socials-container i {
    padding: 0 3px;
    font-size: 16px;
}

.info-socials-container > ul {
    margin: 20px 0 0 20px;
    list-style: none;
}

.info-socials-container > ul ul {
    list-style: none;
}

.info-socials-container > ul ul li {
    display: inline-block;
    border-radius: 50%;
    background-color: #848490;
    margin-left: 10px;
}

.info-socials-container > ul ul li:first-child {
    padding: 10px 13px;
}

.info-socials-container a {
    color: #080820;
}

.extra-links {
    display: inline-block;
    margin-left: 300px;
    vertical-align: top;
}

.extra-links ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 160px;
    width: 200px;
    list-style: none;
    margin-top: 20px;
}

.extra-links li {
    padding: 5px;
}

.extra-links a {
    color: #FFE5DA;
    text-decoration: none;
}

.instagram-widget {
    display: inline-block;
    margin-left: 300px;
    vertical-align: top;
}

.instagram-widget ul {
    margin-top: 15px;
    list-style: none;
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.instagram-widget img {
    width: 100px;
    height: 100px;
}



